<nav id="gnb">
    <ul class="member-btn">
        <li><a href="/page/login.html" class="btn btn-sm rounded btn-border-white"><span>로그인</span></a></li>
        <li><a href="/page/join.html" class="btn btn-sm rounded btn-border-white"><span>회원가입</span></a></li>
    </ul>
    <ul class="depth1">
        <li>
            <a href="/page/sub_01_01.html" class="dep1">회사소개</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_01_01.html">인사말</a></li>
                <li><a href="/page/sub_01_02.html">CI소개</a></li>
                <li><a href="/page/sub_01_03.html">회사이념</a></li>
                <li><a href="/page/sub_01_04.html">회사연혁</a></li>
                <li><a href="/page/sub_01_05.html">조직도</a></li>
                <li><a href="/page/sub_01_06.html">컨설팅파트너</a></li>
                <li><a href="/page/sub_01_07.html">찾아오시는길</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_02_01.html" class="dep1">교육/바우처</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_02_01.html">교육</a></li>
                <li><a href="/page/sub_02_02.html">바우처</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_03_01.html" class="dep1">기업인증지원</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_03_01.html">기업인증</a></li>
                <li><a href="/page/sub_03_02.html">기업부설연구소</a></li>
                <li><a href="/page/sub_03_03.html">벤처기업인증</a></li>
                <li><a href="/page/sub_03_04.html">이노비즈기업</a></li>
                <li><a href="/page/sub_03_05.html">메인비즈기업</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_04_01.html" class="dep1">정부지원사업</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_04_01.html">정부출연자금(R&amp;D)</a></li>
                <li><a href="/page/sub_04_02.html">소상공인자금</a></li>
                <li><a href="/page/sub_04_03.html">중소기업자금</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_05_01.html" class="dep1">부동산</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_05_01.html">부동산 투자정보</a></li>
                <li><a href="/page/sub_05_02.html">부동산 자금연결</a></li>
                <li><a href="/page/sub_05_03.html">부동산 교육</a></li>
                <li><a href="/page/sub_05_04.html">부동산 분석</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_06_01.html" class="dep1">조세지원</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_06_01.html">재무/세무</a></li>
                <li><a href="/page/sub_06_02.html">세무케어</a></li>
                <li><a href="/page/sub_06_03.html">세무조정</a></li>
                <li><a href="/page/sub_06_04.html">세무신고</a></li>
                <li><a href="/page/sub_06_05.html">양도/상속/증여 컨설팅</a></li>
                <li><a href="/page/sub_06_06.html">부동산 세무 컨설팅</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_07.html" class="dep1">세무조사대응</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_07.html">세무조사대응</a></li>
            </ul>
        </li>
        <li>
            <a href="/page/sub_08_01.html" class="dep1">고객센터</a>
            <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 보기</span></button>
            <ul class="depth2">
                <li><a href="/page/sub_08_01.html">공지사항</a></li>
                <li><a href="/page/sub_08_02.html">1:1문의</a></li>
                <li><a href="/page/sub_08_03.html">자주찾는질문</a></li>
                <li><a href="/page/sub_08_04.html">상담안내</a></li>
            </ul>
        </li>
    </ul>
</nav>