<!-- login -->
<article id="modal-login" class="modal login" aria-hidden="true">
    <div class="modal-wrap">
        <div class="modal-container">
            <div class="modal-body">
                <h1 class="tit">로그인</h1>
                <div class="logins">
                    <form action="">
                        <ul class="login-forms">
                            <li><input type="text" class="form-control" placeholder="아이디를 입력해 주세요" aria-label="아이디 입력"></li>
                            <li><input type="password" class="form-control" placeholder="비밀번호를 입력해 주세요" aria-label="비밀번호 입력"></li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-point btn-login"><span>로그인</span></button>
                        <div class="login-bottom">
                            <span class="chk-wrap">
                                <input type="checkbox" id="login-state">
                                <label for="login-state">로그인 상태 유지</label>
                            </span>
                            <a href="/page/find-id.html" class="find-btn">아이디 찾기</a>
                            <a href="/page/find-pw.html" class="find-btn">비밀번호 찾기</a>
                        </div>
                    </form>
                    <div class="sns-logins">
                        <p class="tit">SNS계정으로 간편하게 로그인하세요.</p>
                        <ul class="btns">
                            <li><a href="" class="btn-sns sns01"><span class="blind">네이버 아이디로 로그인</span></a></li>
                            <li><a href="" class="btn-sns sns02"><span class="blind">카카오톡 아이디로 로그인</span></a></li>
                        </ul>
                    </div>
                    <div class="joins">
                        <p class="tit">아직 인플스톡 회원이 아니신가요?</p>
                        <a href="/page/join.html" class="btn btn-lg btn-border-point"><span>인플스톡 회원가입 하기</span></a>
                    </div>
                </div>
                <button type="button" class="btn-close" data-toggle="modal-close"><span class="blind">팝업 닫기</span></button>
            </div>
        </div>
    </div>
</article>
<!-- // login -->
@@if(context.review){
    <!-- review -->
    <article id="modal-review" class="modal review" aria-hidden="true">
        <div class="modal-wrap">
            <div class="modal-container">
                <div class="modal-body">
                    <h1 class="tit">리뷰쓰기</h1>
                    <div class="review">
                        <div class="deal-lists-wrap type2">
                            @@include('./modules/prod-info.html', {
                                popup : true
                            })
                        </div>
                        <section>
                            <h2 class="tit">상품은 만족하셨나요?</h2>
                            <div class="star-rating" aria-label="만족도 점수 선택">
                                <button type="button" class="stars" value="1"><span class="blind">1점</span></button>
                                <button type="button" class="stars" value="2"><span class="blind">2점</span></button>
                                <button type="button" class="stars" value="3"><span class="blind">3점</span></button>
                                <button type="button" class="stars" value="4"><span class="blind">4점</span></button>
                                <button type="button" class="stars" value="5"><span class="blind">5점</span></button>
                            </div>
                        </section>
                        <section>
                            <h2 class="tit">어떤 점이 좋았나요?</h2>
                            <textarea class="form-control" placeholder="최소 10자 이상 입력"></textarea>
                            <div class="inputfile-wrap">
                                <input type="text" class="form-control" placeholder="사진/동영상 첨부">
                                <input type="file" id="upload-file">
                                <label for="upload-file" class="btn btn-basic">첨부</label>
                            </div>
                            <p class="alert">* 상품과 무관한 사진을 첨부한 리뷰는 통보없이 삭제됩니다.</p>
                        </section>
                        <div class="btn-group">
                            <button type="button" class="btn btn-md btn-gray"><span>취소</span></button>
                            <button type="button" class="btn btn-md btn-point"><span>등록</span></button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-toggle="modal-close"><span class="blind">팝업 닫기</span></button>
            </div>
        </div>
    </article>
    <!-- // review -->
}