<div class="page-title">
    @@if(context.cate01){<h2 class="title">회사소개</h2>}
    @@if(context.cate02){<h2 class="title">교육/바우처</h2>}
    @@if(context.cate03){<h2 class="title">기업인증지원</h2>}
    @@if(context.cate04){<h2 class="title">정부지원사업</h2>}
    @@if(context.cate05){<h2 class="title">부동산</h2>}
    @@if(context.cate06){<h2 class="title">조세지원</h2>}
    @@if(context.cate07){<h2 class="title">세무조사대응</h2>}
    @@if(context.cate08){<h2 class="title">고객센터</h2>}
</div>
<div class="sub-depth-wrap">
    <div class="area">
        <span class="home" aria-hidden="true"></span>
        <div class="dropdown-menu">
            @@if(context.cate01){<a href="#n" class="btn-toggle"><span>회사소개</span></a>}
            @@if(context.cate02){<a href="#n" class="btn-toggle"><span>교육/바우처</span></a>}
            @@if(context.cate03){<a href="#n" class="btn-toggle"><span>기업인증지원</span></a>}
            @@if(context.cate04){<a href="#n" class="btn-toggle"><span>정부지원사업</span></a>}
            @@if(context.cate05){<a href="#n" class="btn-toggle"><span>부동산</span></a>}
            @@if(context.cate06){<a href="#n" class="btn-toggle"><span>조세지원</span></a>}
            @@if(context.cate07){<a href="#n" class="btn-toggle"><span>세무조사대응</span></a>}
            @@if(context.cate08){<a href="#n" class="btn-toggle"><span>고객센터</span></a>}
            <ul class="lists">
                <li><a href="/page/sub_01_01.html"@@if(context.cate01){ class="active"}><span>회사소개</span></a></li>
                <li><a href="/page/sub_02_01.html"@@if(context.cate02){ class="active"}><span>교육/바우처</span></a></li>
                <li><a href="/page/sub_03_01.html"@@if(context.cate03){ class="active"}><span>기업인증지원</span></a></li>
                <li><a href="/page/sub_04_01.html"@@if(context.cate04){ class="active"}><span>정부지원사업</span></a></li>
                <li><a href="/page/sub_05_01.html"@@if(context.cate05){ class="active"}><span>부동산</span></a></li>
                <li><a href="/page/sub_06_01.html"@@if(context.cate06){ class="active"}><span>조세지원</span></a></li>
                <li><a href="/page/sub_07_01.html"@@if(context.cate07){ class="active"}><span>세무조사대응</span></a></li>
                <li><a href="/page/sub_08_01.html"@@if(context.cate08){ class="active"}><span>고객센터</span></a></li>
            </ul>
        </div>
        @@if(context.cate01){
            <div class="dropdown-menu">
                @@if(context.cate01 === '01'){<a href="#n" class="btn-toggle"><span>인사말</span></a>}
                @@if(context.cate01 === '02'){<a href="#n" class="btn-toggle"><span>CI소개</span></a>}
                @@if(context.cate01 === '03'){<a href="#n" class="btn-toggle"><span>회사이념</span></a>}
                @@if(context.cate01 === '04'){<a href="#n" class="btn-toggle"><span>회사연혁</span></a>}
                @@if(context.cate01 === '05'){<a href="#n" class="btn-toggle"><span>조직도</span></a>}
                @@if(context.cate01 === '06'){<a href="#n" class="btn-toggle"><span>컨설팅파트너</span></a>}
                @@if(context.cate01 === '07'){<a href="#n" class="btn-toggle"><span>찾아오시는길</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_01_01.html"@@if(context.cate01 === '01'){ class="active"}><span>인사말</span></a></li>
                    <li><a href="/page/sub_01_02.html"@@if(context.cate01 === '02'){ class="active"}><span>CI소개</span></a></li>
                    <li><a href="/page/sub_01_03.html"@@if(context.cate01 === '03'){ class="active"}><span>회사이념</span></a></li>
                    <li><a href="/page/sub_01_04.html"@@if(context.cate01 === '04'){ class="active"}><span>회사연혁</span></a></li>
                    <li><a href="/page/sub_01_05.html"@@if(context.cate01 === '05'){ class="active"}><span>조직도</span></a></li>
                    <li><a href="/page/sub_01_06.html"@@if(context.cate01 === '06'){ class="active"}><span>컨설팅파트너</span></a></li>
                    <li><a href="/page/sub_01_07.html"@@if(context.cate01 === '07'){ class="active"}><span>찾아오시는길</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate02){
            <div class="dropdown-menu">
                @@if(context.cate02 === '01'){<a href="#n" class="btn-toggle"><span>교육</span></a>}
                @@if(context.cate02 === '02'){<a href="#n" class="btn-toggle"><span>바우처</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_02_01.html"@@if(context.cate02 === '01'){ class="active"}><span>교육</span></a></li>
                    <li><a href="/page/sub_02_02.html"@@if(context.cate02 === '02'){ class="active"}><span>바우처</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate03){
            <div class="dropdown-menu">
                @@if(context.cate03 === '01'){<a href="#n" class="btn-toggle"><span>기업인증</span></a>}
                @@if(context.cate03 === '02'){<a href="#n" class="btn-toggle"><span>기업부설연구소</span></a>}
                @@if(context.cate03 === '03'){<a href="#n" class="btn-toggle"><span>벤처기업인증</span></a>}
                @@if(context.cate03 === '04'){<a href="#n" class="btn-toggle"><span>이노비즈기업</span></a>}
                @@if(context.cate03 === '05'){<a href="#n" class="btn-toggle"><span>메인비즈기업</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_03_01.html"@@if(context.cate03 === '01'){ class="active"}><span>기업인증</span></a></li>
                    <li><a href="/page/sub_03_02.html"@@if(context.cate03 === '02'){ class="active"}><span>기업부설연구소</span></a></li>
                    <li><a href="/page/sub_03_03.html"@@if(context.cate03 === '03'){ class="active"}><span>벤처기업인증</span></a></li>
                    <li><a href="/page/sub_03_04.html"@@if(context.cate03 === '04'){ class="active"}><span>이노비즈기업</span></a></li>
                    <li><a href="/page/sub_03_05.html"@@if(context.cate03 === '05'){ class="active"}><span>메인비즈기업</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate04){
            <div class="dropdown-menu">
                @@if(context.cate04 === '01'){<a href="#n" class="btn-toggle"><span>정부출연자금(R&amp;D)</span></a>}
                @@if(context.cate04 === '02'){<a href="#n" class="btn-toggle"><span>소상공인자금</span></a>}
                @@if(context.cate04 === '03'){<a href="#n" class="btn-toggle"><span>중소기업자금</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_04_01.html"@@if(context.cate04 === '01'){ class="active"}><span>정부출연자금(R&amp;D)</span></a></li>
                    <li><a href="/page/sub_04_02.html"@@if(context.cate04 === '02'){ class="active"}><span>소상공인자금</span></a></li>
                    <li><a href="/page/sub_04_03.html"@@if(context.cate04 === '03'){ class="active"}><span>중소기업자금</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate05){
            <div class="dropdown-menu">
                @@if(context.cate05 === '01'){<a href="#n" class="btn-toggle"><span>부동산 투자정보</span></a>}
                @@if(context.cate05 === '02'){<a href="#n" class="btn-toggle"><span>부동산 자금연결</span></a>}
                @@if(context.cate05 === '03'){<a href="#n" class="btn-toggle"><span>부동산 교육</span></a>}
                @@if(context.cate05 === '04'){<a href="#n" class="btn-toggle"><span>부동산 분석</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_05_01.html"@@if(context.cate05 === '01'){ class="active"}><span>부동산 투자정보</span></a></li>
                    <li><a href="/page/sub_05_02.html"@@if(context.cate05 === '02'){ class="active"}><span>부동산 자금연결</span></a></li>
                    <li><a href="/page/sub_05_03.html"@@if(context.cate05 === '03'){ class="active"}><span>부동산 교육</span></a></li>
                    <li><a href="/page/sub_05_04.html"@@if(context.cate05 === '04'){ class="active"}><span>부동산 분석</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate06){
            <div class="dropdown-menu">
                @@if(context.cate06 === '01'){<a href="#n" class="btn-toggle"><span>재무/세무</span></a>}
                @@if(context.cate06 === '02'){<a href="#n" class="btn-toggle"><span>세무케어</span></a>}
                @@if(context.cate06 === '03'){<a href="#n" class="btn-toggle"><span>세무조정</span></a>}
                @@if(context.cate06 === '04'){<a href="#n" class="btn-toggle"><span>세무신고</span></a>}
                @@if(context.cate06 === '05'){<a href="#n" class="btn-toggle"><span>양도/상속/증여 컨설팅</span></a>}
                @@if(context.cate06 === '06'){<a href="#n" class="btn-toggle"><span>부동산 세무 컨설팅</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_06_01.html"@@if(context.cate06 === '01'){ class="active"}><span>재무/세무</span></a></li>
                    <li><a href="/page/sub_06_02.html"@@if(context.cate06 === '02'){ class="active"}><span>세무케어</span></a></li>
                    <li><a href="/page/sub_06_03.html"@@if(context.cate06 === '03'){ class="active"}><span>세무조정</span></a></li>
                    <li><a href="/page/sub_06_04.html"@@if(context.cate06 === '04'){ class="active"}><span>세무신고</span></a></li>
                    <li><a href="/page/sub_06_05.html"@@if(context.cate06 === '05'){ class="active"}><span>양도/상속/증여 컨설팅</span></a></li>
                    <li><a href="/page/sub_06_06.html"@@if(context.cate06 === '06'){ class="active"}><span>부동산 세무 컨설팅</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate07){
            <div class="dropdown-menu">
                @@if(context.cate07 === '01'){<a href="#n" class="btn-toggle"><span>세무조사대응</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_07.html"@@if(context.cate07 === '01'){ class="active"}><span>세무조사대응</span></a></li>
                </ul>
            </div>
        }
        @@if(context.cate08){
            <div class="dropdown-menu">
                @@if(context.cate08 === '01'){<a href="#n" class="btn-toggle"><span>공지사항</span></a>}
                @@if(context.cate08 === '02'){<a href="#n" class="btn-toggle"><span>1:1문의</span></a>}
                @@if(context.cate08 === '03'){<a href="#n" class="btn-toggle"><span>자주찾는질문</span></a>}
                @@if(context.cate08 === '04'){<a href="#n" class="btn-toggle"><span>상담안내</span></a>}
                <ul class="lists">
                    <li><a href="/page/sub_08_01.html"@@if(context.cate08 === '01'){ class="active"}><span>공지사항</span></a></li>
                    <li><a href="/page/sub_08_02.html"@@if(context.cate08 === '02'){ class="active"}><span>1:1문의</span></a></li>
                    <li><a href="/page/sub_08_03.html"@@if(context.cate08 === '03'){ class="active"}><span>자주찾는질문</span></a></li>
                    <li><a href="/page/sub_08_04.html"@@if(context.cate08 === '04'){ class="active"}><span>상담안내</span></a></li>
                </ul>
            </div>
        }
    </div>
</div>
<h3 class="sub-page-title">@@title</h3>